.fa-facebook{
    color: blue;
    font-size: xx-large;

}
.fa-instagram{
    color: hotpink;
    font-size: xx-large;
}
.fa-linkedin{
    color: blue;
    font-size: xx-large;
}
.fa-youtube{
    color: red;
    font-size: xx-large;
}
.fa-brands{
padding-right: 5rem;
text-align: center;
cursor: pointer;
}
.company-name:hover{
    color: red;
    transition: 1s;

}
.footer:hover{
    color: red;
    transition: 1s;
    text-decoration: underline;
    cursor: pointer;

}